!!!
html
  head
    link(rel="stylesheet", href="/main.css")
  body
    != yield
    script(src="/js/data.js")
    script(src="/js/helpers.js")
    script(src="/js/physics.js")
    script(src="/js/collision.js")
    script(src="/js/game.js")
